<!DOCTYPE html>
  <html lang="ja">

<head>
    <meta charset="utf-8">
    <meta value="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raspberry Pi Tank</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
      <h2>Raspberry Pi Tank Controller</h2>
      <form action="/motor" method="post">
          <button type="submit" name="action" value="forward" style="font-size: 200%; position: absolute; left: 20%; top: 15%" class="btn btn-primary">すすむ</button>
          <button type="submit" name="action" value="left" style="font-size: 200%; position: absolute; left: 3%; top: 24%" class="btn btn-primary">ひだり</button>
          <button type="submit" name="action" value="stop" style="font-size: 200%; position: absolute; left: 20%; top: 24%" class="btn btn-primary">とまる</button>
          <button type="submit" name="action" value="right" style="font-size: 200%; position: absolute; left: 37%; top: 24%" class="btn btn-primary">み　ぎ</button>
          <button type="submit" name="action" value="back" style="font-size: 200%; position: absolute; left: 20%; top: 33%" class="btn btn-primary">もどる</button>
          <button type="submit" name="action" value="shot" style="font-size: 200%; position: absolute; left: 20%; top: 42%" class="btn btn-primary">わごむ</button>
      </form>

      <img width="70%" height="70%" src="{{url_for('video_feed') }}" style="position: absolute; left: 3%; top: 52%"></img>
</body> 

</html>